''' Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.'''

In [4]:
l=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [13]:
sorted_1=sorted(l,key=lambda x: x[1])

print(sorted_1)

In [14]:
sorted_1

[('Virat Kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]

'''Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.'''

In [15]:
l1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
list(map(lambda x:x**2,l1))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

'''Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
string=[1,2,3,4,5,6,7,8,9,10]

In [19]:
list(map(lambda x:str(x),string))

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [22]:
Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.

from functools import reduce
lst=list(range(1,26))
product=reduce(lambda x,y:x*y,lst)

In [23]:
product

15511210043330985984000000

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [24]:
l2=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [28]:
list(filter(lambda x: x//2 and x//3,l2))

[3, 6, 9, 27, 60, 90, 120, 55, 46]

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.
['python', 'php', 'aba', 'radar', 'level']

In [38]:
lst=['python', 'php', 'aba', 'radar', 'level']

In [42]:
lst = ['python', 'php', 'aba', 'radar', 'level']

palindromes = list(filter(lambda x: x == x[::-1], lst))

print(palindromes)

TypeError: 'list' object is not callable