In [1]:
name="kishor"
age=21

In [3]:
print("my name is {} and my age is {}".format(name,age))

my name is kishor and my age is 21

In [4]:
name="kishor kurhe"
age=21
degree="B.tech"

In [5]:
print(f"my name is {name} my age is {age} my degree is {degree}")

my name iskishor kurhe my age is 21 my degree is B.tech

In [6]:
print(f"my name is {name} my age is {age} my degree is {degree}")

my name is kishor kurhe my age is 21 my degree is B.tech

In [9]:
print("my name is {} my age is {} my degree is {}".format(name,age,degree))

my name is kishor kurhe my age is 21 my degree is B.tech

##control flow
## decision making statement

In [18]:
age=int(input("Enter the number"))
if age>=18:
    print("Ready to vote")

Enter the number 3

In [6]:
age=int(input("Enter the number"))
if age >=18 and age <=32:
        print("you are young blood")

Enter the number 23

you are young blood

In [8]:
age=int(input("Enter the number"))
if age >=18 and age <=32:
        print("you are young blood")
else:
    print("you are old blood")

Enter the number 23

you are young blood

In [ ]:
money=int(input("Enter the number"))
if money>=1000:
    print(f"you by the product and get 10% off price is{money}")

In [5]:
product_price=int(input("Enter the number"))
if product_price>1000:
    print("The price of the product is {}".format(product_price*0.8))
else:
    print("The price of the product is {}".format(product_price*0.7))

Enter the number 5000

The price of the product is 4000.0

In [6]:
20/100

0.2

In [7]:
5000*0.2

1000.0

In [5]:
product_price=int(input("Enter the number"))
if product_price>1000:
    print("The price of the product is {}".format(product_price*0.8))
elif product_price>=2000 and product_price<=4000:
    if product_price==2999:
        print("congratulation you got free models")
    print(f"The price of the product is{product_price*0.7}")
else:
    print("The price of the product is {}".format(product_price*0.5))

Enter the number 2999

The price of the product is 2399.2000000000003

In [9]:
val=int(input("Enter the number"))
if val<=999:print("value less than 999")
else:print("greater")

Enter the number 100

value less than 999

##loops statement
1. while loop
2. for loop
3. nested loops
4. loop control(break,continue,pass)

In [12]:
#while
joining_age=25
while joining_age<=60:
    print(joining_age)
    joining_age=joining_age+1

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60

In [14]:
total_amount=1000
while total_amount!=0:
    total_amount=total_amount-100
    print(total_amount)
else:
    print("put more money in ATM")

900
800
700
600
500
400
300
200
100
0
put more money in ATM

In [15]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [16]:
list=["mange","banana","orange","onion"]

In [17]:
for i in list:
    print(i)
    if i== "orange":
        print("i like that")

mange
banana
orange
i like that
onion

In [3]:
fruit="mango"
for x in fruit:
    print(x)

m
a
n
g
o

In [4]:
fruit="mango"
for x in fruit:
    print(x,end="")

mango

## nested loops

In [5]:
 for i in range(1,6):
        print(i)

1
2
3
4
5

In [6]:
for i in range(1,10,2):
        print(i)

1
3
5
7
9

In [7]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="\n")

*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*

In [9]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end=" ")

* * * * * * * * * * * * * * * * * * * * * * * * * * * *

In [11]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end=" ")
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [14]:
n=5
for i in range(n):
    for j in range(i+1):
        print("*",end=" ")
    print("\r")

*
* *
* * *
* * * *
* * * * *

In [1]:
list=["mange","banana","orange","onion"]

In [2]:
for i in list:
    print(i)
    if i== "orange":
        break
        print("i like that")

mange
banana
orange

In [3]:
for i in list:
    print(i)
    if i== "orange":
        pass
        print("i like that")

mange
banana
orange
i like that
onion